@import "common.scss";
html,
body {
    width: 100%;
    height: 100%;
}

.wraper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include display(flex, column);
}

.header {
    width: 100%;
    height: px2rem(50px);
    line-height: px2rem(50px);
    padding: 0 px2rem(20px);
    @include display(flex, row, space-between);
    border-bottom: px2rem(10px) solid #ccc;
    p {
        width: 100%;
        flex: 1;
        text-align: center;
        font-size: px2rem(18px);
    }
}

.main {
    width: 100%;
    height: 100%;
    flex: 1;
    padding: 0 px2rem(20px);
    background: #ccc;
    .user {
        background: #fff;
    }
    .myself {
        height: px2rem(100px);
        line-height: px2rem(120px);
        padding: 0 px2rem(20px);
        @include display(flex);
        border-bottom: 1px solid #ccc;
        p {
            width: px2rem(60px);
            height: px2rem(60px);
            margin-right: px2rem(10px);
        }
        h3 {
            font-size: px2rem(18px);
        }
    }
    .circle {
        border-radius: 50%;
        background: #ccc;
    }
    ul {
        li {
            height: px2rem(60px);
            line-height: px2rem(60px);
            padding: 0 px2rem(20px);
            @include display(flex);
            p {
                width: px2rem(30px);
                height: px2rem(30px);
                background: #ccc;
            }
            h3 {
                flex: 1;
                padding-left: px2rem(10px);
            }
            &:not(:last-child) h3 {
                border-bottom: 1px solid #ccc;
            }
        }
    }
}